.side-pre-only #page-content #region-main {
    margin-left: 250px;
}

#page-content #region-pre {
    width: 250px;
}

.side-pre-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main {
    padding-left: 40px;
}